.shuffleboard-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: #222;


	//for FullScreen
	#shuffleboard-canvas:-webkit-full-screen {
	  width: 100%;
	  height: 100%;
	}

	.menu {
		position: absolute;
		top: 0px;
		right: 0px;
	}

	#shuffleboard-canvas {
		background: url("~/images/wood_grain3_side.jpg") 0 0 repeat;
	}

	&.sideways {
		#shuffleboard-canvas {
			background: url("/images/wood_grain3.jpg") 0 0 repeat;
		}
	}

	.board-stats {
		position: absolute;
		top: 0;
		right: 0;
		margin: 15px;
		padding: 10px;
		background-color: #FFF;
	}
	/*;
	height: 100%*/;
	/*background-image: url("/images/wood_grain3.jpg");*/

	/*&:before {
		content: "";
	  position: absolute;
	  width: 200%;
	  height: 200%;
	  top: -50%;
	  left: -50%;
	  z-index: -1;
	  background: url("/images/wood_grain3.jpg") 0 0 repeat;
	  -webkit-transform: rotate(90deg);
	  transform: rotate(90deg);
	}

	&.sideways:before {
		-webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}*/
}